---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & {
  label: string
  isUnderline?: boolean
}

const { label, isUnderline, target, rel, href, ...props } = Astro.props

// 判断是否为外部链接
const isExternal = href?.toString().startsWith('http')
// 如果没有指定 target，外部链接默认使用 _blank
const finalTarget = target || (isExternal ? '_blank' : undefined)
// 如果没有指定 rel，外部链接默认使用 noreferrer
const finalRel = rel || (isExternal ? 'noreferrer' : undefined)
---

<a
  href={href}
  class:list={{
    ['hover:text-neutral-100 cursor-pointer']: true,
    ['underline decoration-dashed underline-offset-8']: isUnderline,
  }}
  {...props}
  rel={finalRel}
  target={finalTarget}
>
  {label}
  <span class='sr-only'>{label} link</span>
</a>
